﻿@model SIADGA.Models.Concepto

@{
    ViewBag.Title = "CreateConcepto";
    var idPeriodo = ViewBag.IdPeriodo;
}

<h2>CreateConcepto</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Concepto</h4>
        <hr />
        <h5>Ingresos(+) ejem: 5000</h5>
        <h5>Egresos(-) ejem: -5000</h5>
        <h5>Abono(+) ejem: 500</h5>
        @Html.ValidationSummary(true)
        
        @Html.HiddenFor(model => idPeriodo)
                
        @*<div class="form-group">
            @Html.LabelFor(model => model.IdConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdConcepto)
                @Html.ValidationMessageFor(model => model.IdConcepto)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.IdPeriodo, "IdPeriodo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdPeriodo)
                @Html.ValidationMessageFor(model => model.IdPeriodo)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.NombreConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreConcepto)
                @Html.ValidationMessageFor(model => model.NombreConcepto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pago)
                @Html.ValidationMessageFor(model => model.Pago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Abono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Abono)
                @Html.ValidationMessageFor(model => model.Abono)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacion)
                @Html.ValidationMessageFor(model => model.FechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UltimaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UltimaModificacion)
                @Html.ValidationMessageFor(model => model.UltimaModificacion)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
