﻿@model SIADGA.Models.Periodo

@{
    ViewBag.Title = "Create";
    var status = true;
}

<h2>Agregar Nuevo Periodo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()    
    @Html.HiddenFor(model => status)    
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IdCatalogoPeriodo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCatalogoPeriodo", String.Empty)
                @Html.ValidationMessageFor(model => model.IdCatalogoPeriodo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombrePeriodo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombrePeriodo)
                @Html.ValidationMessageFor(model => model.NombrePeriodo)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
