﻿@model IEnumerable<SIADGA.Models.Concepto>


@{
    ViewBag.Title = "Details";
    var periodo = ViewBag.IdPer;
    var status = ViewBag.status;
}

<h2>Periodo:
@ViewBag.nombreperiodo</h2>

<div>
    <h4>Detalles</h4>
    @if(status == true)
    { 
        <p>                        
            @Html.ActionLink("Agregar Concepto", "CreateConcepto", new { idPeriodo = periodo})
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreConcepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abono)
            </th>            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreConcepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abono)
                </td>
                @if (status == true)
                { 
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdConcepto, nombreperiodo = @ViewBag.nombreperiodo, status = @ViewBag.status })
                    </td>  
                }           
            </tr>
        }

    </table>

        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreConcepto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreConcepto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pago)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pago)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Abono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Abono)
            </dd>
        </dl>*@
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IdPeriodo }) |*@
    @Html.ActionLink("Regresar", "Index")
</p>
