﻿@model SIADGA.Models.Concepto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Concepto</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdConcepto)  
        @Html.HiddenFor(model => model.IdPeriodo)      

        <div class="form-group">
            @Html.LabelFor(model => model.NombreConcepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreConcepto)
                @Html.ValidationMessageFor(model => model.NombreConcepto)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Pago, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pago)
                @Html.ValidationMessageFor(model => model.Pago)
            </div>
        </div>  
    
        <div class="form-group">
            @Html.LabelFor(model => model.Abono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Abono)
                @Html.ValidationMessageFor(model => model.Abono)
            </div>
        </div>      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Details", new { id = Model.IdPeriodo, nombreperiodo = @ViewBag.nombreperiodo, status = @ViewBag.status })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
