﻿@model IEnumerable<SIADGA.Models.Periodo>

@{
    ViewBag.Title = "Index";
}

<h2>Sistema de Administración de Gastos</h2>

<p>
    @Html.ActionLink("Agregar Periodo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombrePeriodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoAlCorte)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Catalogo_Periodo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePeriodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaldoAlCorte)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Catalogo_Periodo.Descripcion)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id = item.IdPeriodo, nombreperiodo = item.NombrePeriodo, status = item.Status })
        </td>
    </tr>
}

</table>
